# Object files
*.d
*.o
*.ko
*.obj

# Libraries
*.lib
*.a
*.ilk

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
*.manifest
*.dep

# Executables
*.out
*.app

# Project garbage
*.ncb
*.suo
*.user
*.pdb
*.idb
*.pch
